{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader Starts -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

    <!-- Header Section -->
    
    <!-- Breadcrumb Section -->
    <section class="breadcrumb-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Gallery</h2>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>/</li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Section -->
    {% for g in gallery %}
    
    <section class="blog-section blog-page padding-top-115 padding-bottom-20">
        <center><h3>{{g.name}}</h3></center>
        <br>
        <div class="container">
            <div class="row">
                {% for image in g.get_images %}
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay=".1s">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="{{image.images.url}}"><img src="{{image.images.url}}" alt="image" class="gallery-img"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}

    <!-- Back Top -->
    <div class="back-to-top">
        <span><i class="fa fa-angle-up"></i></span>
    </div>

{% endblock %}
