{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader Starts -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>

    <!-- Header Section -->
    

    <!-- Hero Section 02 -->
    <section class="hero-section-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="hero-content">
                        <span class="tagline">IAMT - Institute Of Advanced Mobile And Tech</span>
                        <h1 class="margin-top-20">Empower Your Future in Mobile Technology</h1>
                        <p class="margin-top-20">
                            Kerala's Leading Institute for Advanced Smartphone Service Training with 100% Job Placement Assurance

                        </p>
                        <div class="button-part margin-top-40">
                            <a href="#" class="template-btn" data-toggle="modal" data-target="#exampleModalScrollable">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="hero-image">
                        <img src="{% static 'web/images/repair_courtesyTomWatsonKingCounty 1.svg' %}" alt="hero-image" class="main-image">
                        <div class="shape-image">
                            <img src="{% static 'web/images/home-2-hero-shape.png' %}" alt="shape" class="hero-shape item-rotate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="about-section about-section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".1s">
                    <div class="image-area">
                        <img src="{% static 'web/images/2.png' %}" class="main-image" alt="image">
                        
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
                    <div class="about-content">
                        <h2>Welcome to IAMT-Institute of Advanced Mobile and Tech</h2>
                        <span class="divider"></span>
                        <p>At IAMT, we are dedicated to shaping the future of mobile technology professionals. Located in Malappuram, Kerala, our institute offers top-tier training in smartphone servicing, backed by over 17 years of industry and technical expertise. Our comprehensive programs, led by certified trainers, cover advanced chip-level repairs and the latest in smartphone technology. We pride ourselves on providing a 100% job placement assurance, ensuring our graduates are equipped for success. With state-of-the-art facilities, practical on-the-job training, and additional courses in computer hardware and languages, IAMT is your gateway to a thriving career in mobile technology. Join us to transform your passion into a thriving career.</p>
                        {% comment %} <ul class="margin-top-20">
                            <li><span class="list-icon"><img src="{% static 'web/images/bulb-2.png' %}"
                                        alt="icon"></span><span>Creative
                                    Study
                                    Pattern</span></li>
                            <li><span class="list-icon"><img src="{% static 'web/images/plane-2.png' %}"
                                        alt="icon"></span><span>Quick
                                    Crash
                                    Courses</span></li>
                            <li><span class="list-icon"><img src="{% static 'web/images/protractor-2.png' %}"
                                        alt="icon"></span><span>Provided
                                    with Experimental Examples</span></li>
                            <li><span class="list-icon"><img src="{% static 'web/images/certificate-2.png' %}"
                                        alt="icon"></span><span>Certification Awarded</span></li>
                        </ul> {% endcomment %}
                        <div class="about-button margin-top-40">
                            <a href="{% url "web:course" %}" class="template-btn">Explore Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Category Section -->
    <section class="category-section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2> Why Choose IAMT?</h2>
                        <p class="margin-top-10">Experience Excellence in Smartphone Service Training
                        </p>
                    </div>
                </div>
            </div>
            <div class="category-slider">
                <div class="single-category">
                    <div class="category-image margin-bottom-30">
                        <img src="{% static 'web/images/Expert.svg' %}" alt="icon">
                    </div>
                    <h5><a href="#">Expert Faculty</a></h5>
                    <span class="margin-top-10"> Learn from certified technicians with 17+ years of experience.</span>
                </div>
                <div class="single-category" style="height: 300px;">
                    <div class="category-image margin-bottom-30">
                        <img src="{% static 'web/images/Advanced.svg' %}" alt="icon">
                    </div>
                    <h5><a href="#">Advanced Training</a></h5>
                    <span class="margin-top-10"> Master the latest smartphone repair techniques.
                    </span>
                </div>
                <div class="single-category">
                    <div class="category-image margin-bottom-30">
                        <img src="{% static 'web/images/Comprehensive.svg' %}" alt="icon">
                    </div>
                    <h5><a href="#">Comprehensive Program</a></h5>
                    <span class="margin-top-10"> 8-month course with training and on-the-job experience.</span>
                </div>
                <div class="single-category">
                    <div class="category-image margin-bottom-30">
                        <img src="{% static 'web/images/Placement.svg' %}" alt="icon">
                    </div>
                    <h5><a href="#">Job Placement Assurance</a></h5>
                    <span class="margin-top-10"> Enjoy 100% job placement across India.</span>
                </div>
                <div class="single-category">
                    <div class="category-image margin-bottom-30">
                        <img src="{% static 'web/images/Modern.svg' %}" alt="icon">
                    </div>
                    <h5><a href="#">Modern Facilities</a></h5>
                    <span class="margin-top-10"> Train in state-of-the-art labs with advanced technology.
                    </span>
                </div>
                <div class="single-category">
                    <div class="category-image margin-bottom-30">
                        <img src="{% static 'web/images/Additional.svg' %}" alt="icon">
                    </div>
                    <h5><a href="#">Additional Skills</a></h5>
                    <span class="margin-top-10"> Free courses in computer hardware, English, and Hindi.

                    </span>
                </div>
                <div class="single-category">
                    <div class="category-image margin-bottom-30">
                        <img src="{% static 'web/images/Holistic.svg' %}" alt="icon">
                    </div>
                    <h5><a href="#">Holistic Development</a></h5>
                    <span class="margin-top-10"> Physical training, meditation, and accommodations.
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- Video Section -->
    <section class="video-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow fadeInLeft" data-wow-delay=".1s">
                    <div class="video-content">
                        <span class="tagline">IAMT</span>
                        <h2 class="margin-top-20">Unlock the Benefits of Choosing IAMT</h2>
                        <p class="margin-top-20">Discover the unparalleled advantages awaiting you at IAMT. From expert guidance and cutting-edge training to guaranteed job placements and additional skill development, our institute is committed to empowering your journey towards a successful career in smartphone service. Explore the myriad benefits that set IAMT apart and propel you towards excellence in the mobile technology industry.</p>
                        <span class="phone-number margin-top-20"><a href="tel:+919995184291" style="color:#fff;">Call Us +919995184291</a></span>
                        <div class=" about-button margin-top-40">
                            <a href="contact.html" class="template-btn" style="background-color:#F16A6D;">contact now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7  wow fadeInRight" data-wow-delay=".1s">
                    <div class="video-area">
                        <img src="{% static 'web/images/3.png' %}" alt="image">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Course Section -->
    {% comment %} <section class="course-section course-section-2 padding-top-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Professional Online Courses</h2>
                        <p class="margin-top-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
            </div>
            <div class="row margin-top-50">
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay=".1s">
                    <div class="single-course">
                        <div class="course-image">
                            <img src="{% static 'web/images/course-1.png' %}" alt="image">
                        </div>
                        <div class="course-content">
                            <div class="course-category">
                                <a href="course-details.html">marketing</a>
                            </div>
                            <span class="course-instructor"><a href="course-details.html">James Stewart</a></span>
                            <h4 class="margin-top-10"><a href="course-details.html">Language Learning (15 Day)
                                    Crash Course Zen</a></h4>
                            <div class="course-review d-flex align-items-center margin-top-20">
                                <div class="review-left">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <div class="review-right margin-left-30">
                                    <span><b>4.5</b> (45 Reviews)</span>
                                </div>
                            </div>
                            <span class="divider"></span>
                            <div class="course-bottom d-flex align-items-center justify-content-between padding-top-20">
                                <div class="bottom-left">
                                    <span><i class="fa fa-clock-o"></i> 12 mins</span>
                                </div>
                                <div class="bottom-right">
                                    <span class="course-price">$15.00/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay=".2s">
                    <div class="single-course">
                        <div class="course-image">
                            <img src="{% static 'web/images/course-2.png' %}" alt="image">
                        </div>
                        <div class="course-content">
                            <div class="course-category">
                                <a href="course-details.html">development</a>
                            </div>
                            <span class="course-instructor"><a href="course-details.html">John doe</a></span>
                            <h4 class="margin-top-10"><a href="course-details.html">Nvidia Technologies
                                    Practice In University</a></h4>
                            <div class="course-review d-flex align-items-center margin-top-20">
                                <div class="review-left">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <div class="review-right margin-left-30">
                                    <span><b>4.5</b> (45 Reviews)</span>
                                </div>
                            </div>
                            <span class="divider"></span>
                            <div class="course-bottom d-flex align-items-center justify-content-between padding-top-20">
                                <div class="bottom-left">
                                    <span><i class="fa fa-clock-o"></i> 20 mins</span>
                                </div>
                                <div class="bottom-right">
                                    <span class="course-price">$20.00/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay=".3s">
                    <div class="single-course">
                        <div class="course-image">
                            <img src="{% static 'web/images/course-3.png' %}" alt="image">
                        </div>
                        <div class="course-content">
                            <div class="course-category">
                                <a href="course-details.html">accounting</a>
                            </div>
                            <span class="course-instructor"><a href="course-details.html">hames itewart</a></span>
                            <h4 class="margin-top-10"><a href="course-details.html">Become a professional designer with
                                    passion</a></h4>
                            <div class="course-review d-flex align-items-center margin-top-20">
                                <div class="review-left">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <div class="review-right margin-left-30">
                                    <span><b>4.5</b> (45 Reviews)</span>
                                </div>
                            </div>
                            <span class="divider"></span>
                            <div class="course-bottom d-flex align-items-center justify-content-between padding-top-20">
                                <div class="bottom-left">
                                    <span><i class="fa fa-clock-o"></i> 25 mins</span>
                                </div>
                                <div class="bottom-right">
                                    <span class="course-price">$25.00/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay=".4s">
                    <div class="single-course">
                        <div class="course-image">
                            <img src="{% static 'web/images/course-4.png' %}" alt="image">
                        </div>
                        <div class="course-content">
                            <div class="course-category">
                                <a href="course-details.html">programming</a>
                            </div>
                            <span class="course-instructor"><a href="course-details.html">alice mccoy</a></span>
                            <h4 class="margin-top-10"><a href="course-details.html">Grow your business by some
                                    Technique</a></h4>
                            <div class="course-review d-flex align-items-center margin-top-20">
                                <div class="review-left">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <div class="review-right margin-left-30">
                                    <span><b>4.5</b> (45 Reviews)</span>
                                </div>
                            </div>
                            <span class="divider"></span>
                            <div class="course-bottom d-flex align-items-center justify-content-between padding-top-20">
                                <div class="bottom-left">
                                    <span><i class="fa fa-clock-o"></i> 25 mins</span>
                                </div>
                                <div class="bottom-right">
                                    <span class="course-price">$30.00/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay=".5s">
                    <div class="single-course">
                        <div class="course-image">
                            <img src="{% static 'web/images/course-5.png' %}" alt="image">
                        </div>
                        <div class="course-content">
                            <div class="course-category">
                                <a href="course-details.html">art & design</a>
                            </div>
                            <span class="course-instructor"><a href="course-details.html">rames tewart</a></span>
                            <h4 class="margin-top-10"><a href="course-details.html">Language Learning (15 Day)
                                    Crash Course Zen</a></h4>
                            <div class="course-review d-flex align-items-center margin-top-20">
                                <div class="review-left">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <div class="review-right margin-left-30">
                                    <span><b>4.5</b> (45 Reviews)</span>
                                </div>
                            </div>
                            <span class="divider"></span>
                            <div class="course-bottom d-flex align-items-center justify-content-between padding-top-20">
                                <div class="bottom-left">
                                    <span><i class="fa fa-clock-o"></i> 30 mins</span>
                                </div>
                                <div class="bottom-right">
                                    <span class="course-price">$35.00/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay=".6s">
                    <div class="single-course">
                        <div class="course-image">
                            <img src="{% static 'web/images/course-6.png' %}" alt="image">
                        </div>
                        <div class="course-content">
                            <div class="course-category">
                                <a href="course-details.html">content Writing</a>
                            </div>
                            <span class="course-instructor"><a href="course-details.html">James Stewart</a></span>
                            <h4 class="margin-top-10"><a href="course-details.html">Language Learning (15 Day)
                                    Crash Course Zen</a></h4>
                            <div class="course-review d-flex align-items-center margin-top-20">
                                <div class="review-left">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-half-o"></i></a>
                                </div>
                                <div class="review-right margin-left-30">
                                    <span><b>4.5</b> (45 Reviews)</span>
                                </div>
                            </div>
                            <span class="divider"></span>
                            <div class="course-bottom d-flex align-items-center justify-content-between padding-top-20">
                                <div class="bottom-left">
                                    <span><i class="fa fa-clock-o"></i> 30 mins</span>
                                </div>
                                <div class="bottom-right">
                                    <span class="course-price">$25.00/hr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <section class="feedback-section feedback-section-2 padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2> Feedback From Students</h2>
                        <p class="margin-top-10">Discover What Our Graduates Have to Say</p>
                    </div>
                </div>
            </div>
            <div class="feedback-slider margin-top-30">
                {% for t in testimonial %}
                <div class="single-feedback">
                    <span class="quote-icon"><i class="fa fa-quote-right"></i></span>
                    <div class="reviewer-info d-flex align-items-center">
                        <div class="reviewer-image margin-right-20">
                            <img src="{{t.image.url}}" alt="image">
                        </div>
                        <div class="reviewer-text">
                            <h4 class="title">{{t.name}}</h4>
                            <span class="designation">{{t.position}}</span>
                        </div>
                    </div>
                    <p class="margin-top-20">{{t.description}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Teaching Section -->
    <section class="teaching-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="teaching-image">
                        <img src="{% static 'web/images/teaching-image.png' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="teaching-content padding-120">
                        <span class="tagline">Ready to Join IAMT?</span>
                        <h2 class="margin-top-20">Take the Next Step Towards Your Career in Mobile Technology
                        </h2>
                        <div class="teaching-button margin-top-30">
                            <a href="{% url "web:course" %}" class="template-btn">View Course
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section class="team-section padding-top-115 padding-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>Meet Our Experts</h2>
                        <p class="margin-top-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor
                            incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
            </div>
            <div class="row margin-top-50">
                {% for s in students %}
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay=".1s">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="{{s.image.url}}" alt="image" style="height: 255px;object-fit: cover;">
                        </div>
                        <div class="member-content">
                            <h4 class="title">{{s.name}}</h4>
                            <span>{{s.position}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Feedback Section -->
    

    <!-- Blog Section -->
    <section class="blog-section blog-section-2 padding-top-115 padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        <h2>News & Updates </h2>
                        <p class="margin-top-10">Stay Informed About the Latest Happenings at IAMT</p>
                    </div>
                </div>
            </div>
            <div class="blog-slider margin-top-30">
                {% for b in blogs %}
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="{{ b.get_absolute_url }}"><img src="{{ b.image.url }}" alt="image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">
                            <h4><a href="{{ b.get_absolute_url }}">{{ b.title|truncatechars:25 }}</a></h4>
                        </div>
                        <div class="content-wrap">
                            <a href="{{ b.get_absolute_url }}" class="post-tag">{{ b.date|date:"d, M, Y" }}</a>
                        </div>
                        <div class="blog-button">
                            <a href="{{ b.get_absolute_url }}" class="template-btn btn-2">view more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section> 

    <!-- Footer Section -->
    

    <!-- Back Top -->
    <div class="back-to-top">
        <span><i class="fa fa-angle-up"></i></span>
    </div>

{% endblock %}